<h1>Student Details<h1>

<%= notice %>

<p>Name: <%= @student.full_name %></p>
<p>Age: <%= @student.age %></p>
<p>Email: <%= @student.email %></p>
<p>DOB: <%= formatted_date(@student.date_of_birth) %></p>
<p>Local Address: <%= @student.local_address %></p>
<p>P Address: <%= @student.permanent_address %></p>
<p>Contact: <%= @student.contact %></p>

<%= link_to 'Return', students_path %> | <%= link_to 'Edit', edit_student_path(@student) %>
